<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vut website bus shuttle ticket booking</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="page1">
        <div class="page2">
            <h2><span class="c1">V<span class="c2">U</span>T</span> Students Can Book A Bus Ticket By Using Their <span class="c1">V<span class="c2">U</span>T</span>ela credentials To Go To Any Of The Vut Reses From Campus</h2>
            <h3>If You Are A <span class="c1">V<span class="c2">U</span>T</span> Student Click The Button Below</h3>
            <a href="{{url_for('home')}}"><button>Click Me!!</button></a>
    </div>
        </div>
</body>
</html>